/**
 * WhatsApp Notify - Admin Styles
 * Main CSS file that imports all modules
 */

/* Variabel dan base */
@import "modules/variables.css";
@import "modules/base.css";

/* Komponen UI */
@import "modules/header.css";
@import "modules/notifications.css";
@import "modules/tabs.css";
@import "modules/forms.css";
@import "modules/buttons.css";
@import "modules/toggles.css";
@import "modules/form-list.css";

/* Section spesifik */
@import "modules/logs.css";

/* Utility & Helpers */
@import "modules/animations.css";
@import "modules/utils.css";